.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
}
.nav-items>ul {
    display: flex;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    padding: 0px 28px;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    
}
.res-card{
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1px solid black;
    border-color: grey;
  
}
.search{
    padding: 10px;
}
.res-logo{
  
    width:100%;
}
.res-card >img{
    
    padding: 5px;
    height: 150px;
    width: 200px;
}
.res-card:hover{
    cursor: pointer;
    border: 2px solid black;
}
.filter-btn{
    margin:10px ;
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height:350px;
    background-color: #f0f0f0;
    margin :20px;

}
.login{
    padding:  0 20px;
    cursor: pointer;
    border-radius: 10%;

}
.filter{
    display: flex;
}
.search{
    top:5px;
}